ul{
    
    list-style: none;
    display: flex;
}
li{
    margin: 2px 20px;
}
div.navi a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
.container{
    margin: 10px 75px;
    background-color: darkcyan;
    color: aliceblue;
    border-radius: 20px;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.about{
    margin: inherit;
}
.card{
    background-color: #b29dff;
    width: 330px;
    height: 250px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    
}
.row{
    display: flex;
}
.col-md-4{
    margin: 0 35px;
}
.card:hover{
    transform: scale(1.1);
}
div.card p{
    padding: 50px;
}
.card a{
    text-decoration: none;
    color: lightcyan;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
footer{
    margin: 0 auto;
    text-align: center;
}
@media screen and  {
    
}